<div class="container">
  <div class="row ">
    <div class="col-md-6 col-md-offset-6 col-xl-4 center-form-log-in">
      <h2 class="text-center" >FotoBook Login</h2>
        <div class="account-wall">
          <%= image_tag("https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120",class: "profile-img"  ,alt: "Edit Entry")%>
        
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>

              <%= render "devise/shared/error_messages", resource: resource %>
              
              <div class="field">
                <%= f.label :email %><br/>
                <%= f.email_field :email,class: "form-control",placeholder: "Email", autofocus: true, autocomplete: "email" %>
              </div>

              <div class="field">
                <%= f.label :password %><br />
                <%= f.password_field :password,class: "form-control",placeholder: "Password", autocomplete: "current-password", required: true %>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="field ">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>

              <div class="actions">
                <%= f.submit "Log in", class: 'btn btn-lg btn-primary btn-block' %>
              </div>

              <div class="form-inline link-login-forgot">
                <%= render "devise/shared/links" %>
              </div>
            
            <% end %> 
      
      </div>
    </div>
  </div>
</div>